.container {
  margin: 100px 0 200px;
}

.container h3 {
  font-size: 1.5rem;
  color: #0b5cc6;
  margin: 24px 0;
}

.container p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: justify;
  line-height: 30px;
}
